@font-face {
    font-family: 'Goudy Mediaeval';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/Goudy Mediaeval Regular.ttf") format('woff');
  }
@font-face {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/verdana.ttf");
  }

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Characters */
.characters-d223aadc0f18 {
  position: relative;
  width: 1920px;
  height: 3263px;
  overflow: hidden;
  z-index: 0;
}

/* Friar Maxima Culpa

Halfling Cleric (Deceased)

Background notes. */
.friar-maxi-d228345f70eb {
  position: absolute;
  left: 400px;
  top: 2387px;
  width: 1120px;
  height: 162px;
}
.friar-maxi-d228345f70eb .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.friar-maxi-d228345f70eb .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.friar-maxi-d228345f70eb .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.friar-maxi-d228345f70eb .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 36px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.friar-maxi-d228345f70eb .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.friar-maxi-d228345f70eb .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.friar-maxi-d228345f70eb .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.friar-maxi-d228345f70eb .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.friar-maxi-d228345f70eb .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.friar-maxi-d228345f70eb .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.friar-maxi-d228345f70eb .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.friar-maxi-d228345f70eb .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Thia Naïlo

Wood Elf Rogue

An illegitimate child, whose mother was an acolyte of the religious order The Guardians of the Earth Spring (her Father unknown, but believed to be of noble elvish birth), Thia was gifted into the service of the temple at birth and never knew her paren */
.thia-nalo-d2276f545ef6 {
  position: absolute;
  left: 400px;
  top: 1615px;
  width: 1120px;
  height: 642px;
}
.thia-nalo-d2276f545ef6 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 36px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-5 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-5-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-6 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-6-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-7 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-7-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-8 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-8-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-9 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-9-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-10 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-10-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-11 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-d2276f545ef6 .root-0-paragraph-set-0-paragraph-11-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Raznar Dudley

Human Wizard

Born from nothing, he gained his powers from an ancient tomb but he still has a problem losing things, like ancient tombs. */
.raznar-dud-d22719b731c0 {
  position: absolute;
  left: 400px;
  top: 1287px;
  width: 1120px;
  height: 198px;
}
.raznar-dud-d22719b731c0 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.raznar-dud-d22719b731c0 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.raznar-dud-d22719b731c0 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.raznar-dud-d22719b731c0 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 36px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.raznar-dud-d22719b731c0 .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.raznar-dud-d22719b731c0 .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.raznar-dud-d22719b731c0 .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.raznar-dud-d22719b731c0 .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.raznar-dud-d22719b731c0 .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.raznar-dud-d22719b731c0 .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.raznar-dud-d22719b731c0 .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.raznar-dud-d22719b731c0 .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Keth Rekomash

Half-Orc Warlock

Background text. */
.keth-rekom-d226787f8038 {
  position: absolute;
  left: 400px;
  top: 995px;
  width: 1120px;
  height: 162px;
}
.keth-rekom-d226787f8038 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.keth-rekom-d226787f8038 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.keth-rekom-d226787f8038 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.keth-rekom-d226787f8038 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 36px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.keth-rekom-d226787f8038 .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.keth-rekom-d226787f8038 .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.keth-rekom-d226787f8038 .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.keth-rekom-d226787f8038 .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.keth-rekom-d226787f8038 .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.keth-rekom-d226787f8038 .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.keth-rekom-d226787f8038 .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.keth-rekom-d226787f8038 .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Jorf.

Human Fighter

Jorf. */
.jorf-hum-d226167e3f9a {
  position: absolute;
  left: 400px;
  top: 703px;
  width: 1120px;
  height: 162px;
}
.jorf-hum-d226167e3f9a .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.jorf-hum-d226167e3f9a .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.jorf-hum-d226167e3f9a .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jorf-hum-d226167e3f9a .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 36px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.jorf-hum-d226167e3f9a .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jorf-hum-d226167e3f9a .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.jorf-hum-d226167e3f9a .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jorf-hum-d226167e3f9a .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.jorf-hum-d226167e3f9a .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jorf-hum-d226167e3f9a .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.jorf-hum-d226167e3f9a .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jorf-hum-d226167e3f9a .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Jhann Greenflight

Wood Elf Druid

Background text. */
.jhann-gree-d2256f7d4d78 {
  position: absolute;
  left: 400px;
  top: 411px;
  width: 1120px;
  height: 162px;
}
.jhann-gree-d2256f7d4d78 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.jhann-gree-d2256f7d4d78 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.jhann-gree-d2256f7d4d78 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jhann-gree-d2256f7d4d78 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 36px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.jhann-gree-d2256f7d4d78 .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jhann-gree-d2256f7d4d78 .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.jhann-gree-d2256f7d4d78 .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jhann-gree-d2256f7d4d78 .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.jhann-gree-d2256f7d4d78 .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jhann-gree-d2256f7d4d78 .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.jhann-gree-d2256f7d4d78 .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jhann-gree-d2256f7d4d78 .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Characters */
.characters-d224e5d500d2 {
  position: absolute;
  left: 826.5px;
  top: 162px;
  width: 267px;
  height: 105px;
}
.characters-d224e5d500d2 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.characters-d224e5d500d2 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.characters-d224e5d500d2 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.characters-d224e5d500d2 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 72px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Rectangle */
.rectangle-d2242e73b49f {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 983px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0px;
}

/* Coast */
.coast-d223aadc0f19 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 983.04px;
  background: rgba(0,0,0,0);
  overflow: hidden;
}

/* Coast */
.coast-d223aadc0f1b {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 983.04px;
  background: url("../images/Coast.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  border-radius: 0px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

/* Adding in this section for responsive design */
.desktop_container {
  display: block;
}

.mobile_container {
  display: none;
}

@media only screen and (max-width: 667px) {
  .desktop_container {
    display: none;
  }
  .mobile_container {
    display: block;
  }

@font-face {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/verdana.ttf") format('woff');
  }
@font-face {
    font-family: 'Goudy Mediaeval';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/Goudy Mediaeval Regular.ttf") format('woff');
  }

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Characters */
.characters-0bfeca50d9e1 {
  position: relative;
  width: 414px;
  height: 1310px;
  overflow: hidden;
  z-index: 0;
}

/* Group */
.group-0c0b8a5a8fb7 {
  position: absolute;
  left: 60px;
  top: 131px;
  width: 294px;
  height: 1102px;
}

/* Friar Maxima Culpa

Halfling Cleric

Deceased. */
.friar-maxi-0bff7e99912f {
  position: absolute;
  left: 0px;
  top: 1015px;
  width: 294px;
  height: 87px;
}
.friar-maxi-0bff7e99912f .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.friar-maxi-0bff7e99912f .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.friar-maxi-0bff7e99912f .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.friar-maxi-0bff7e99912f .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.friar-maxi-0bff7e99912f .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.friar-maxi-0bff7e99912f .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.friar-maxi-0bff7e99912f .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.friar-maxi-0bff7e99912f .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.friar-maxi-0bff7e99912f .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.friar-maxi-0bff7e99912f .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.friar-maxi-0bff7e99912f .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.friar-maxi-0bff7e99912f .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Thia Naïlo

Wood Elf Rogue

An illegitimate child, whose mother was an acolyte of the religious order The Guardians of the Earth Spring (her Father unknown, but believed to be of noble elvish birth), Thia was gifted into the service of the temple at birth and never knew her paren */
.thia-nalo-0bff7e99912e {
  position: absolute;
  left: 0px;
  top: 506px;
  width: 294px;
  height: 477px;
}
.thia-nalo-0bff7e99912e .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-5 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-5-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-6 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-6-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-7 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-7-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-8 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-8-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-9 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-9-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-10 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-10-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-11 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.thia-nalo-0bff7e99912e .root-0-paragraph-set-0-paragraph-11-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Raznar Dudley

Human Wizard

Born from nothing, he gained his powers from an ancient tomb but he still has a problem losing things, like ancient tombs. */
.raznar-dud-0bff7e99912d {
  position: absolute;
  left: 0px;
  top: 357px;
  width: 294px;
  height: 117px;
}
.raznar-dud-0bff7e99912d .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.raznar-dud-0bff7e99912d .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.raznar-dud-0bff7e99912d .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.raznar-dud-0bff7e99912d .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.raznar-dud-0bff7e99912d .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.raznar-dud-0bff7e99912d .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.raznar-dud-0bff7e99912d .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.raznar-dud-0bff7e99912d .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.raznar-dud-0bff7e99912d .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.raznar-dud-0bff7e99912d .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.raznar-dud-0bff7e99912d .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.raznar-dud-0bff7e99912d .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Keth Rekomash

Half-Orc Warlock

Background text. */
.keth-rekom-0bff7e99912c {
  position: absolute;
  left: 0px;
  top: 238px;
  width: 294px;
  height: 87px;
}
.keth-rekom-0bff7e99912c .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.keth-rekom-0bff7e99912c .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.keth-rekom-0bff7e99912c .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.keth-rekom-0bff7e99912c .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.keth-rekom-0bff7e99912c .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.keth-rekom-0bff7e99912c .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.keth-rekom-0bff7e99912c .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.keth-rekom-0bff7e99912c .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.keth-rekom-0bff7e99912c .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.keth-rekom-0bff7e99912c .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.keth-rekom-0bff7e99912c .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.keth-rekom-0bff7e99912c .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Jorf.

Human Fighter

Jorf. */
.jorf-hum-0bff7e99912b {
  position: absolute;
  left: 0px;
  top: 119px;
  width: 294px;
  height: 87px;
}
.jorf-hum-0bff7e99912b .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.jorf-hum-0bff7e99912b .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.jorf-hum-0bff7e99912b .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jorf-hum-0bff7e99912b .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.jorf-hum-0bff7e99912b .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jorf-hum-0bff7e99912b .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.jorf-hum-0bff7e99912b .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jorf-hum-0bff7e99912b .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.jorf-hum-0bff7e99912b .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jorf-hum-0bff7e99912b .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.jorf-hum-0bff7e99912b .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jorf-hum-0bff7e99912b .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Jhann Greenflight

Wood Elf Druid

Background text. */
.jhann-gree-0bff7e99912a {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 294px;
  height: 87px;
}
.jhann-gree-0bff7e99912a .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.jhann-gree-0bff7e99912a .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.jhann-gree-0bff7e99912a .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jhann-gree-0bff7e99912a .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.jhann-gree-0bff7e99912a .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jhann-gree-0bff7e99912a .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.jhann-gree-0bff7e99912a .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jhann-gree-0bff7e99912a .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.jhann-gree-0bff7e99912a .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jhann-gree-0bff7e99912a .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.jhann-gree-0bff7e99912a .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.jhann-gree-0bff7e99912a .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Characters */
.characters-0bff7e999129 {
  position: absolute;
  left: 162.5px;
  top: 64px;
  width: 89px;
  height: 35px;
}
.characters-0bff7e999129 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.characters-0bff7e999129 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.characters-0bff7e999129 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.characters-0bff7e999129 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 24px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Rectangle */
.rectangle-0bff7e999128 {
  position: fixed;
  left: -149px;
  top: 0px;
  width: 1920px;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0px;
}

/* Coast */
.coast-0bff7e999126 {
  position: absolute;
  left: -1159px;
  top: 0px;
  width: 1750px;
  height: 100%;
  background: #FFFFFF;
  overflow: hidden;
}

/* Coast */
.coast-0bff7e999127 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 1750px;
  height: 100%;
  background: url("../images/Coast.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  border-radius: 0px;
}
}
