@font-face {
    font-family: 'Goudy Mediaeval';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/Goudy Mediaeval Regular.ttf");
  }
@font-face {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/verdana.ttf");
  }
@font-face {
    font-family: 'Goudy Mediaeval';
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url("../fonts/Goudy Mediaeval Regular.ttf");
  }

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Index */
.index-d1fdf37a2494 {
  position: relative;
  width: 1920px;
  height: 2389px;
  overflow: hidden;
  z-index: 0;
}

/* Mission BG */
.mission-bg-d1fe0dfe3472 {
  position: absolute;
  left: 399.27px;
  top: 1161px;
  width: 1121.46px;
  height: 1097px;
}

/* In recent months they city of Laghlyn has been plagued by attacks from bands of goblins. 
Seemingly at random but increasing in frequency the attacks have led to panic and aprehension gripping the city's population.
Similar attacks have occured throughout the north and west of th */
.in-recent-d1fe0dfe347c {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1121.46px;
  height: 1097px;
}
.in-recent-d1fe0dfe347c .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 36px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-1-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 36px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-4-text-1 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-5 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-5-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-6 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-6-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-7 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-7-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 36px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-7-text-1 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-8 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-8-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-9 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-9-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-10 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-10-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-11 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-11-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 36px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-12 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-d1fe0dfe347c .root-0-paragraph-set-0-paragraph-12-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}

/* content */
.content-d60646c937b8 {
  position: absolute;
  left: 520px;
  top: 142.5px;
  width: 880px;
  height: 948px;
  justify-items: start;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

/* The Barony of Udrone */
.the-barony-d1fdf37a249c > svg {
  position: absolute;
  top: 75px;
  left: 0px;
  transform: translate(0px,0px);
}
.the-barony-d1fdf37a249c {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 880px;
  height: 130px;
}
.the-barony-d1fdf37a249c .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.the-barony-d1fdf37a249c .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.the-barony-d1fdf37a249c .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.the-barony-d1fdf37a249c .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 144px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 700;
}

/* top */
.top-d1fdf37a249b {
  position: absolute;
  left: 99px;
  top: 435px;
  width: 837.33px;
  height: 311.57px;
}

/* NW_ COA */
.nw-coa-d1fdf37a24a6 {
  position: absolute;
  left: 620px;
  top: 0px;
  width: 217.33px;
  height: 311.57px;
}

/* Laghlyn */
.laghlyn-d1fdf37a24ac {
  position: absolute;
  left: 19.01px;
  top: 12.7px;
  width: 115.31px;
  height: 130.64px;
  transform: matrix(0.97, -0.26, 0.26, 0.97, 0.00, 0.00);
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

/* Laghlyn */
.laghlyn-d1fdf37a24af {
  position: absolute;
  left: -37.34px;
  top: -33px;
  width: 190px;
  height: 190px;
  background: url("/static/images/Laghlyn_desat.png") no-repeat center center / cover;
  border-radius: 0px;
}

/* Catherlagh */
.catherlagh-d1fdf37a24ab {
  position: absolute;
  left: 82.9px;
  top: 79.16px;
  width: 118.99px;
  height: 134.94px;
  transform: matrix(0.97, 0.26, -0.26, 0.97, -0.00, -0.00);
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

/* Catherlagh */
.catherlagh-d1fdf37a24ae {
  position: absolute;
  left: -35.5px;
  top: -27.53px;
  width: 190px;
  height: 190px;
  background: url("/static/images/Catherlagh_desat.png") no-repeat center center / cover;
  border-radius: 0px;
}

/* Dun_Raghlyn */
.dun-raghly-d1fdf37a24aa {
  position: absolute;
  left: 15.77px;
  top: 162.44px;
  width: 113.47px;
  height: 136.78px;
  transform: matrix(0.97, -0.26, 0.26, 0.97, 0.00, 0.00);
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

/* Dun_Raghlyn */
.dun-raghly-d1fdf37a24ad {
  position: absolute;
  left: -38.26px;
  top: -26.61px;
  width: 190px;
  height: 190px;
  background: url("/static/images/Dun_Raghlyn_desat.png") no-repeat center center / cover;
  border-radius: 0px;
}

/* Group */
.group-d1fdf37a24a5 {
  position: absolute;
  left: 0px;
  top: 45px;
  width: 598px;
  height: 222px;
}

/* A Population in Peril... */
.a-populati-d1fdf37a24a9 {
  position: absolute;
  left: 148px;
  top: 164px;
  width: 408px;
  height: 58px;
}
.a-populati-d1fdf37a24a9 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.a-populati-d1fdf37a24a9 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.a-populati-d1fdf37a24a9 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.a-populati-d1fdf37a24a9 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 48px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Wood Elf Raids in the South... */
.wood-elf-r-d1fdf37a24a8 {
  position: absolute;
  left: 45px;
  top: 82px;
  width: 553px;
  height: 58px;
}
.wood-elf-r-d1fdf37a24a8 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.wood-elf-r-d1fdf37a24a8 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.wood-elf-r-d1fdf37a24a8 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.wood-elf-r-d1fdf37a24a8 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 48px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Goblin Attcks in the North... */
.goblin-att-d1fdf37a24a7 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 514px;
  height: 58px;
}
.goblin-att-d1fdf37a24a7 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.goblin-att-d1fdf37a24a7 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.goblin-att-d1fdf37a24a7 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.goblin-att-d1fdf37a24a7 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 48px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* bottom */
.bottom-d1fdf37a249a {
  position: absolute;
  left: -125px;
  top: 590px;
  width: 882px;
  height: 316px;
}

/* Group */
.group-d1fdf37a249e {
  position: absolute;
  left: 191px;
  top: 176px;
  width: 691px;
  height: 140px;
}

/* An Empire on the Verge of Civil War... */
.an-empire-d1fdf37a24a4 {
  position: absolute;
  left: 0px;
  top: 82px;
  width: 691px;
  height: 58px;
}
.an-empire-d1fdf37a24a4 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.an-empire-d1fdf37a24a4 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.an-empire-d1fdf37a24a4 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.an-empire-d1fdf37a24a4 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 48px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Tensions Between Nations Rising... */
.tensions-b-d1fdf37a24a3 {
  position: absolute;
  left: 22px;
  top: 0px;
  width: 626px;
  height: 58px;
}
.tensions-b-d1fdf37a24a3 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.tensions-b-d1fdf37a24a3 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.tensions-b-d1fdf37a24a3 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.tensions-b-d1fdf37a24a3 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 48px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* SE_COA */
.secoa-d1fdf37a249d {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 203.21px;
  height: 241.95px;
}

/* Ben_Temyng */
.ben-temyng-d1fdf37a24a0 {
  position: absolute;
  left: 14.94px;
  top: 12.7px;
  width: 115.31px;
  height: 130.64px;
  transform: matrix(0.97, 0.26, -0.26, 0.97, 0.00, -0.00);
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

/* Ben_Temyng */
.ben-temyng-d1fdf37a24a2 {
  position: absolute;
  left: -37.34px;
  top: -29.68px;
  width: 190px;
  height: 190px;
  background: url("/static/images/Ben_Temyng_desat.png") no-repeat center center / cover;
  border-radius: 0px;
}

/* Cloghendel */
.cloghendel-d1fdf37a249f {
  position: absolute;
  left: 72.96px;
  top: 98.61px;
  width: 115.31px;
  height: 130.64px;
  transform: matrix(0.97, -0.26, 0.26, 0.97, 0.00, -0.00);
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

/* Cloghendel */
.cloghendel-d1fdf37a24a1 {
  position: absolute;
  left: -37.35px;
  top: -29.68px;
  width: 190px;
  height: 190px;
  background: url("/static/images/Cloghendel_desat.png") no-repeat center center / cover;
  border-radius: 0px;
}

/* Rectangle */
.rectangle-d5c260712bbd {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 972.5px;
  background: rgba(0, 0, 0, 0.6);
  /* background-attachment: fixed; */
  border-radius: 0px;
}

/* Dragon_copy */
.dragoncop-d5c1fa14cb46 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 972.48px;
  background: url("../images/Dragon_copy.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  border-radius: 0px;
}

/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */

/* Adding in this section for responsive design */
.desktop_container {
  display: block;
}

.mobile_container {
  display: none;
}

@media only screen and (max-width: 667px) {
  .desktop_container {
    display: none;
  }
  .mobile_container {
    display: block;
  }

/* from penpot mobile design */
  @font-face {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/verdana.ttf") format('woff');
  }
@font-face {
    font-family: 'Goudy Mediaeval';
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url("../fonts/Goudy Mediaeval Regular.ttf") format('woff');
  }

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Index */
.index-0bfe520345bf {
  position: relative;
  width: 414px;
  height: 1316px;
  overflow: hidden;
  z-index: 0;
}

/* Mission BG */
.mission-bg-0bff0ba28876 {
  position: absolute;
  left: 60px;
  top: 525px;
  width: 294px;
  height: 778px;
}

/* In recent months they city of Laghlyn has been plagued by attacks from bands of goblins. 
Seemingly at random but increasing in frequency the attacks have led to panic and aprehension gripping the city's population.
Similar attacks have occured throughout the north and west of th */
.in-recent-0bff0ba28877 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 294px;
  height: 778px;
}
.in-recent-0bff0ba28877 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 14px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-0-text-1 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 12px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-1-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 14px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-5 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-5-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-6 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-6-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-7 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-7-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 14px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-7-text-1 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 12px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-7-text-2 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-8 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-8-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-9 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-9-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-10 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-10-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-11 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-11-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 14px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-12 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.in-recent-0bff0ba28877 .root-0-paragraph-set-0-paragraph-12-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}

/* bottom */
.bottom-0bff0ba28860 {
  position: absolute;
  left: 133.53px;
  top: 417px;
  width: 146.93px;
  height: 108.25px;
}

/* SE_COA */
.secoa-0bff0ba28863 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 146.93px;
  height: 108.25px;
}

/* Ben_Temyng */
.ben-temyng-0bff0ba28866 {
  position: absolute;
  left: 9.72px;
  top: 13.2px;
  width: 75px;
  height: 84.97px;
  transform: matrix(0.97, 0.26, -0.26, 0.97, -0.00, -0.00);
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

/* Ben_Temyng */
.ben-temyng-0bff0ba28868 {
  position: absolute;
  left: 0px;
  top: 4.99px;
  width: 75px;
  height: 75px;
  background: url("../images/Ben_Temyng_desat.png") no-repeat center center / cover;
  border-radius: 0px;
}

/* Cloghendel */
.cloghendel-0bff0ba28865 {
  position: absolute;
  left: 56.57px;
  top: 8.81px;
  width: 80px;
  height: 90.64px;
  transform: matrix(0.97, -0.26, 0.26, 0.97, 0.00, 0.00);
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

/* Cloghendel */
.cloghendel-0bff0ba28867 {
  position: absolute;
  left: -4.83px;
  top: 3.69px;
  width: 83px;
  height: 83px;
  background: url("../images/Cloghendel_desat.png") no-repeat center center / cover;
  border-radius: 0px;
}

/* Group */
.group-0bff0ba28864 {
  position: absolute;
  left: 54.5px;
  top: 361px;
  width: 305px;
  height: 56px;
}

/* An Empire on the Verge of Civil War... */
.an-empire-0bff0ba2886a {
  position: absolute;
  left: 0px;
  top: 36px;
  width: 305px;
  height: 20px;
}
.an-empire-0bff0ba2886a .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.an-empire-0bff0ba2886a .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.an-empire-0bff0ba2886a .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.an-empire-0bff0ba2886a .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 16px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Tensions Between Nations Rising... */
.tensions-b-0bff0ba28869 {
  position: absolute;
  left: 22px;
  top: 0px;
  width: 281px;
  height: 20px;
}
.tensions-b-0bff0ba28869 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.tensions-b-0bff0ba28869 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.tensions-b-0bff0ba28869 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.tensions-b-0bff0ba28869 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 16px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* NW_ COA */
.nw-coa-0bff0ba2886c {
  position: absolute;
  left: 122.58px;
  top: 254px;
  width: 168.84px;
  height: 106.74px;
}

/* Laghlyn */
.laghlyn-0bff0ba28872 {
  position: absolute;
  left: 9.72px;
  top: 9.26px;
  width: 75px;
  height: 84.97px;
  transform: matrix(0.97, -0.26, 0.26, 0.97, -0.00, -0.00);
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

/* Laghlyn */
.laghlyn-0bff0ba28875 {
  position: absolute;
  left: 0px;
  top: 4.99px;
  width: 75px;
  height: 75px;
  background: url("../images/Laghlyn_desat.png") no-repeat center center / cover;
  border-radius: 0px;
}

/* Catherlagh */
.catherlagh-0bff0ba28871 {
  position: absolute;
  left: 45.73px;
  top: 10.26px;
  width: 75px;
  height: 85.05px;
  transform: matrix(0.97, 0.26, -0.26, 0.97, -0.00, -0.00);
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

/* Catherlagh */
.catherlagh-0bff0ba28874 {
  position: absolute;
  left: 0px;
  top: 5.03px;
  width: 75px;
  height: 75px;
  background: url("../images/Catherlagh_desat.png") no-repeat center center / cover;
  border-radius: 0px;
}

/* Dun_Raghlyn */
.dun-raghly-0bff0ba28870 {
  position: absolute;
  left: 83.42px;
  top: 8.17px;
  width: 75px;
  height: 90.41px;
  transform: matrix(0.97, -0.26, 0.26, 0.97, -0.00, -0.00);
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

/* Dun_Raghlyn */
.dun-raghly-0bff0ba28873 {
  position: absolute;
  left: 0.78px;
  top: 4.8px;
  width: 80px;
  height: 80px;
  background: url("../images/Dun_Raghlyn_desat.png") no-repeat center center / cover;
  border-radius: 0px;
}

/* Group */
.group-0bff0ba2886b {
  position: absolute;
  left: 60px;
  top: 162px;
  width: 269px;
  height: 92px;
}

/* A Population in Peril... */
.a-populati-0bff0ba2886f {
  position: absolute;
  left: 91px;
  top: 72px;
  width: 178px;
  height: 20px;
}
.a-populati-0bff0ba2886f .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.a-populati-0bff0ba2886f .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.a-populati-0bff0ba2886f .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.a-populati-0bff0ba2886f .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 16px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Wood Elf Raids in the South... */
.wood-elf-r-0bff0ba2886e {
  position: absolute;
  left: 8px;
  top: 36px;
  width: 241px;
  height: 20px;
}
.wood-elf-r-0bff0ba2886e .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.wood-elf-r-0bff0ba2886e .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.wood-elf-r-0bff0ba2886e .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.wood-elf-r-0bff0ba2886e .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 16px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Goblin Attcks in the North... */
.goblin-att-0bff0ba2886d {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 226px;
  height: 20px;
}
.goblin-att-0bff0ba2886d .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.goblin-att-0bff0ba2886d .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.goblin-att-0bff0ba2886d .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.goblin-att-0bff0ba2886d .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 16px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* The Barony of Udrone */
.the-barony-0bff0ba28862 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.the-barony-0bff0ba28862 {
  position: absolute;
  left: 60px;
  top: 61px;
  width: 294px;
  height: 44px;
}
.the-barony-0bff0ba28862 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.the-barony-0bff0ba28862 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.the-barony-0bff0ba28862 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.the-barony-0bff0ba28862 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 36px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 700;
}

/* Rectangle */
.rectangle-0bff0ba2885e {
  position: fixed;
  left: -677px;
  top: 0px;
  width: 1769px;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0px;
}

/* Dragon_copy */
.dragoncop-0bff0ba24e0e {
  position: fixed;
  left: -694px;
  top: 0px;
  width: 1769px;
  height: 100%;
  background: url("../images/Dragon_copy.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  border-radius: 0px;
}
}
