@font-face {
    font-family: 'Goudy Mediaeval';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/Goudy Mediaeval Regular.ttf") format('woff');
  }
@font-face {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/verdana.ttf");
  }

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Locations */
.locations-d202998c5a0c {
  position: relative;
  width: 1920px;
  height: 3513px;
  overflow: hidden;
  z-index: 0;
}

/* Laghlyn */
.laghlyn-d222208d1992 {
  position: absolute;
  left: 400px;
  top: 1076px;
  width: 1120px;
  height: 1458px;
}

/* Laghlyn is a large city in the east of Leighann. It is the capital of Leighann and the capital of the county of Laghlyn. The city is the seat of Grand Duke Wymarc and home to the chamber where the state assembly meets.

The city sits astride the river Barogh with fertile plainsla */
.laghlyn-is-d221977090ee {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1120px;
  height: 1458px;
}
.laghlyn-is-d221977090ee .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 36px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-0-text-1 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-5 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-5-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-6 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-6-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-7 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-7-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-8 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-8-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-9 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-d221977090ee .root-0-paragraph-set-0-paragraph-9-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}

/* Old Laghlyn */
.old-laghly-d222168c75c5 {
  position: absolute;
  left: 400px;
  top: 411px;
  width: 1120px;
  height: 1174px;
}

/* old_laghlyn */
.oldlaghly-d21ff8cc5453 {
  position: absolute;
  left: 572px;
  top: 0px;
  width: 500px;
  height: 534px;
  background: #FFFFFF;
  overflow: hidden;
}

/* old_laghlyn */
.oldlaghly-d21ff8cc5454 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 500px;
  height: 534.72px;
  background: url("../images/old_laghlyn.png") no-repeat center center / cover;
  border-radius: 0px;
}

/* Old Laghlyn is a busy town with a lively market and bustling taverns. The town is the usual last stop before the capital for any travellers fromOld Laghlyn the southern county towns. As such the town is prosperous and lends a good deal of power to those in charge making the Baron */
.old-laghly-d220923d130b {
  position: absolute;
  left: 1px;
  top: 342px;
  width: 518px;
  height: 576px;
}
.old-laghly-d220923d130b .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.old-laghly-d220923d130b .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.old-laghly-d220923d130b .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-d220923d130b .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.old-laghly-d220923d130b .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-d220923d130b .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.old-laghly-d220923d130b .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-d220923d130b .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Old Laghlyn is a large town located in the east of Leighann. The town is part of the County of Laghlyn and seat of the Barony of Udrone.

The town was founded over 500 years ago, developing at the crossing point in the roads leading to the capital. It was the site of a small mona */
.old-laghly-d21ee4757438 {
  position: absolute;
  left: 0px;
  top: -128px;
  width: 1120px;
  height: 558px;
}
.old-laghly-d21ee4757438 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.old-laghly-d21ee4757438 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.old-laghly-d21ee4757438 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-d21ee4757438 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  /* text-transform: capitalize; */
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 36px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.old-laghly-d21ee4757438 .root-0-paragraph-set-0-paragraph-0-text-1 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.old-laghly-d21ee4757438 .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-d21ee4757438 .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.old-laghly-d21ee4757438 .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-d21ee4757438 .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.old-laghly-d21ee4757438 .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-d21ee4757438 .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.old-laghly-d21ee4757438 .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-d21ee4757438 .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.old-laghly-d21ee4757438 .root-0-paragraph-set-0-paragraph-5 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-d21ee4757438 .root-0-paragraph-set-0-paragraph-5-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.old-laghly-d21ee4757438 .root-0-paragraph-set-0-paragraph-6 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-d21ee4757438 .root-0-paragraph-set-0-paragraph-6-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Locations */
.locations-d203db5308cb {
  position: absolute;
  left: 787.5px;
  top: 162px;
  width: 238px;
  height: 105px;
}
.locations-d203db5308cb .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.locations-d203db5308cb .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.locations-d203db5308cb .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.locations-d203db5308cb .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 72px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Rectangle */
.rectangle-d20342237555 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 985px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0px;
}

/* knights-medieval-castle */
.knightsme-d202998c5a0d {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 984.96px;
  background: #FFFFFF;
  overflow: hidden;
}

/* knights-medieval-castle */
.knightsme-d202998c5a0e {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 984.96px;
  background: url("../images/knights-medieval-castle.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  border-radius: 0px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

/* Adding in this section for responsive design */
.desktop_container {
  display: block;
}

.mobile_container {
  display: none;
}

@media only screen and (max-width: 667px) {
  .desktop_container {
    display: none;
  }
  .mobile_container {
    display: block;
  }
@font-face {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/verdana.ttf") format('woff');
  }
@font-face {
    font-family: 'Goudy Mediaeval';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/Goudy Mediaeval Regular.ttf") format('woff');
  }

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Locations */
.locations-0bfed59b6edb {
  position: relative;
  width: 414px;
  height: 2109px;
  overflow: hidden;
  z-index: 0;
}

/* Laghlyn */
.laghlyn-0bff68672e0c {
  position: absolute;
  left: 60px;
  top: 1052px;
  width: 294px;
  height: 996px;
}

/* Laghlyn is a large city in the east of Leighann. It is the capital of Leighann and the capital of the county of Laghlyn. The city is the seat of Grand Duke Wymarc and home to the chamber where the state assembly meets.

The city sits astride the river Barogh with fertile plainsla */
.laghlyn-is-0bff68672e0d {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 294px;
  height: 996px;
}
.laghlyn-is-0bff68672e0d .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-0-text-1 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-5 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-5-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-6 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-6-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-7 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-7-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-8 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-8-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-9 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.laghlyn-is-0bff68672e0d .root-0-paragraph-set-0-paragraph-9-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}

/* old_laghlyn */
.oldlaghly-0bff6869a19d {
  position: absolute;
  left: 78.9px;
  top: 714px;
  width: 256.21px;
  height: 274px;
  background: #FFFFFF;
  overflow: hidden;
}

/* old_laghlyn */
.oldlaghly-0bff6869a19e {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 256.21px;
  height: 274px;
  background: url("../images/old_laghlyn.png") no-repeat center center / cover;
  border-radius: 0px;
}

/* Old Laghlyn */
.old-laghly-0bff68672e07 {
  position: absolute;
  left: 60.33px;
  top: 131px;
  width: 293.35px;
  height: 551px;
}

/* Old Laghlyn is a busy town with a lively market and bustling taverns. The town is the usual last stop before the capital for any travellers fromOld Laghlyn the southern county towns. As such the town is prosperous and lends a good deal of power to those in charge making the Baron */
.old-laghly-0bff68672e09 {
  position: absolute;
  left: 0px;
  top: 356px;
  width: 291.4px;
  height: 195px;
}
.old-laghly-0bff68672e09 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.old-laghly-0bff68672e09 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.old-laghly-0bff68672e09 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-0bff68672e09 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.old-laghly-0bff68672e09 .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-0bff68672e09 .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.old-laghly-0bff68672e09 .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-0bff68672e09 .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Old Laghlyn is a large town located in the east of Leighann. The town is part of the County of Laghlyn and seat of the Barony of Udrone.

The town was founded over 500 years ago, developing at the crossing point in the roads leading to the capital. It was the site of a small mona */
.old-laghly-0bff68672e08 {
  position: absolute;
  left: 1.95px;
  top: 0px;
  width: 291.4px;
  height: 336px;
}
.old-laghly-0bff68672e08 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.old-laghly-0bff68672e08 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.old-laghly-0bff68672e08 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-0bff68672e08 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.old-laghly-0bff68672e08 .root-0-paragraph-set-0-paragraph-0-text-1 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.old-laghly-0bff68672e08 .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-0bff68672e08 .root-0-paragraph-set-0-paragraph-1-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.old-laghly-0bff68672e08 .root-0-paragraph-set-0-paragraph-2 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-0bff68672e08 .root-0-paragraph-set-0-paragraph-2-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.old-laghly-0bff68672e08 .root-0-paragraph-set-0-paragraph-3 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-0bff68672e08 .root-0-paragraph-set-0-paragraph-3-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.old-laghly-0bff68672e08 .root-0-paragraph-set-0-paragraph-4 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-0bff68672e08 .root-0-paragraph-set-0-paragraph-4-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}
.old-laghly-0bff68672e08 .root-0-paragraph-set-0-paragraph-5 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-0bff68672e08 .root-0-paragraph-set-0-paragraph-5-text-0 {
  
  
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: black;
  
  font-family: "sourcesanspro";
  
  
}
.old-laghly-0bff68672e08 .root-0-paragraph-set-0-paragraph-6 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.old-laghly-0bff68672e08 .root-0-paragraph-set-0-paragraph-6-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 10px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
}

/* Locations */
.locations-0bff68672e06 {
  position: absolute;
  left: 167px;
  top: 64px;
  width: 80px;
  height: 35px;
}
.locations-0bff68672e06 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.locations-0bff68672e06 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.locations-0bff68672e06 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.locations-0bff68672e06 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 24px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Rectangle */
.rectangle-0bff68672e05 {
  position: fixed;
  left: -106px;
  top: 0px;
  width: 595px;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0px;
}

/* knights-medieval-castle */
.knightsme-0bff6866d523 {
  position: absolute;
  left: -484px;
  top: 0px;
  width: 1746.59px;
  height: 100%;
  background: #FFFFFF;
  overflow: hidden;
}

/* knights-medieval-castle */
.knightsme-0bff68672e04 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 1746.59px;
  height: 100%;
  background: url("../images/knights-medieval-castle.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  border-radius: 0px;
}
}
