@font-face {
    font-family: 'Goudy Mediaeval';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/Goudy Mediaeval Regular.ttf") format('woff');
  }

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* menu */
.menu-0bfef1fbd637 {
  position: absolute;
  width: 414px;
  height: 896px;
  background: #0f151a00;
  overflow: hidden;
  z-index: 99;
}

/* Menu Items*/
.menu-0bffc0089c4b {
  position: absolute;
  left: 24px;
  top: 78px;
  width: 129px;
  height: 210px;
  background: rgba(0, 0, 0, 0);
  display: grid;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: stretch;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
}

/* Notes */
.notes-0bffc0089c51 {
  width: 55px;
  height: 35px;
  margin: 0px 12px 0px 12px;
  grid-column: 1;
  grid-row: 6;
}
.notes-0bffc0089c51 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.notes-0bffc0089c51 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.notes-0bffc0089c51 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.notes-0bffc0089c51 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 24px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Timeline */
.timeline-0bffc0089c50 {
  width: 78px;
  height: 35px;
  margin: 0px 12px 0px 12px;
  grid-column: 1;
  grid-row: 5;
}
.timeline-0bffc0089c50 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.timeline-0bffc0089c50 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.timeline-0bffc0089c50 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.timeline-0bffc0089c50 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 24px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Characters */
.characters-0bffc0089c4f {
  width: 95px;
  height: 35px;
  margin: 0px 12px 0px 12px;
  grid-column: 1;
  grid-row: 4;
}
.characters-0bffc0089c4f .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.characters-0bffc0089c4f .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.characters-0bffc0089c4f .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.characters-0bffc0089c4f .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 24px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Locations */
.locations-0bffc0089c4e {
  width: 85px;
  height: 35px;
  margin: 0px 12px 0px 12px;
  grid-column: 1;
  grid-row: 3;
}
.locations-0bffc0089c4e .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.locations-0bffc0089c4e .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.locations-0bffc0089c4e .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.locations-0bffc0089c4e .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 24px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Background */
.background-0bffc0089c4d {
  width: 105px;
  height: 35px;
  align-self: center;
  justify-self: center;
  grid-column: 1;
  grid-row: 2;
}
.background-0bffc0089c4d .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.background-0bffc0089c4d .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.background-0bffc0089c4d .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.background-0bffc0089c4d .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 24px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Home */
.home-0bffc0089c4c {
  width: 52px;
  height: 35px;
  box-shadow: ;
  margin: 0px 12px 0px 12px;
  justify-self: start;
}
.home-0bffc0089c4c .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.home-0bffc0089c4c .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.home-0bffc0089c4c .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.home-0bffc0089c4c .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 24px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Hamburger */
.hamburger-0bffc0089c45 {
  position: absolute;
  left: 14px;
  top: 14px;
  width: 50px;
  height: 40px;
  margin-left: 22px;
  margin-top: 22px;
}

/* Hamburger */
.hamburger-0bffc0089c47 {
  position: absolute;
  left: 12px;
  top: 9px;
  width: auto;
  height: 22px;
  display: grid;
  align-items: center;
  align-content: space-between;
  justify-items: start;
  justify-content: stretch;
  row-gap: 2.5px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
}

/* Rectangle */
.rectangle-0bffc0089c48 {
  width: 26px;
  height: 5px;
  background: #000000;
  border-radius: 6px;
  grid-column: 1;
  grid-row: 3;
}

/* Rectangle */
.rectangle-0bffc0089c49 {
  width: 26px;
  height: 5px;
  background: #000000;
  border-radius: 6px;
  grid-column: 1;
  grid-row: 2;
}

/* Rectangle */
.rectangle-0bffc0089c4a {
  width: 26px;
  height: 5px;
  background: #000000;
  border-radius: 6px;
  grid-column: 1;
  grid-row: 1;
}

/* Rectangle */
.rectangle-0bffc0089c46 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 40px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
