/* Navbar */
.navbar-d5c01837fe35 {
  position: relative;
  left: 548.5px;
  top: 0px;
  width: 823px;
  height: 60px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  column-gap: 24px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  background-attachment: fixed;
}

/* Home */
.home-d5c01837fe36 {
  width: 40px;
  height: 27px;
  box-shadow: ;
  flex-shrink: 0;
}
.home-d5c01837fe36 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.home-d5c01837fe36 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.home-d5c01837fe36 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.home-d5c01837fe36 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 18px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Background */
.background-d5c01837fe37 {
  width: 81px;
  height: 27px;
  flex-shrink: 0;
}
.background-d5c01837fe37 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.background-d5c01837fe37 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.background-d5c01837fe37 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.background-d5c01837fe37 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 18px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Locations */
.locations-d5c01837fe38 {
  width: 65px;
  height: 27px;
  flex-shrink: 0;
}
.locations-d5c01837fe38 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.locations-d5c01837fe38 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.locations-d5c01837fe38 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.locations-d5c01837fe38 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 18px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Characters */
.characters-d5c01837fe39 {
  width: 73px;
  height: 27px;
  flex-shrink: 0;
}
.characters-d5c01837fe39 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.characters-d5c01837fe39 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.characters-d5c01837fe39 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.characters-d5c01837fe39 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 18px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Timeline */
.timeline-d5c01837fe3a {
  width: 60px;
  height: 27px;
  flex-shrink: 0;
}
.timeline-d5c01837fe3a .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.timeline-d5c01837fe3a .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.timeline-d5c01837fe3a .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.timeline-d5c01837fe3a .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 18px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Notes */
.notes-d5c01837fe3b {
  width: 42px;
  height: 27px;
  flex-shrink: 0;
}
.notes-d5c01837fe3b .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.notes-d5c01837fe3b .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.notes-d5c01837fe3b .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.45;
  margin: 0;
  text-align: left;
}
.notes-d5c01837fe3b .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 18px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}
