@font-face {
    font-family: 'Goudy Mediaeval';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/Goudy Mediaeval Regular.ttf") format('woff');
  }
@font-face {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/verdana.ttf");
  }
html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Notes */
.notes-d5bd4f09d921 {
  position: relative;
  width: 1920px;
  height: 2137px;
  overflow: hidden;
  z-index: 0;
}

/* DM's Notes */
.dms-notes-d5bd8a787890 {
  position: absolute;
  left: 786.5px;
  top: 162px;
  width: 347px;
  height: 126px;
}
.dms-notes-d5bd8a787890 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.dms-notes-d5bd8a787890 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.dms-notes-d5bd8a787890 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.75;
  margin: 0;
  text-align: left;
}
.dms-notes-d5bd8a787890 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.6px;
  font-size: 72px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Rectangle */
.rectangle-d5bdef1db75a {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0px;
}

/* wizard-dark-dungeon-illustration */
.wizarddar-d5bd4f09d922 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 877px;
  background:rgba(255, 255, 255, 0);
  overflow: hidden;
}

/* wizard-dark-dungeon-illustration */
.wizarddar-d5bd4f09d923 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 100%;
  background: url("../images/wizard-dark-dungeon-illustration.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  border-radius: 0px;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

/* Adding in this section for responsive design */
.desktop_container {
  display: block;
}

.mobile_container {
  display: none;
}

@media only screen and (max-width: 667px) {
  .desktop_container {
    display: none;
  }
  .mobile_container {
    display: block;
  }
  @font-face {
      font-family: 'Goudy Mediaeval';
      font-style: normal;
      font-weight: 400;
      font-display: block;
      src: url("../fonts/Goudy Mediaeval Regular.ttf") format('woff');
    }
  @font-face {
      font-family: 'Verdana';
      font-style: normal;
      font-weight: 400;
      font-display: block;
      src: url("../fonts/verdana.ttf");
    }
  html, body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
  }

  * {
    box-sizing: border-box;
  }

  .text-node { background-clip: text !important; -webkit-background-clip: text !important; }

  /* Notes */
  .notes-0bfee662fccf {
    position: relative;
    width: 414px;
    height: 1310px;
    overflow: hidden;
    z-index: 0;
  }

  /* DM's Notes */
  .dms-notes-0bffabbc2d69 {
    position: absolute;
    left: 147px;
    top: 64px;
    width: 120px;
    height: 42px;
  }
  .dms-notes-0bffabbc2d69 .root-0 {
    
    
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
  }
  .dms-notes-0bffabbc2d69 .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
  }
  .dms-notes-0bffabbc2d69 .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.75;
    margin: 0;
    text-align: left;
  }
  .dms-notes-0bffabbc2d69 .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(255, 255, 255, 1);
    text-transform: none;
    
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    text-rendering: geometricPrecision;
    caret-color: rgba(255, 255, 255, 1);
    text-decoration: none;
    letter-spacing: 0.6px;
    font-size: 24px;
    font-family: "Goudy Mediaeval";
    font-style: normal;
    font-weight: 400;
  }

  /* Rectangle */
  .rectangle-0bffabbc2d68 {
    position: fixed;
    left: -17px;
    top: 0px;
    width: 467px;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 0px;
  }

  /* wizard-dark-dungeon-illustration */
  .wizarddar-0bffabbc2d66 {
    position: absolute;
    left: -534px;
    top: 0px;
    width: 1956.33px;
    height: 100%;
    background: #999999;
    overflow: hidden;
  }

  /* wizard-dark-dungeon-illustration */
  .wizarddar-0bffabbc2d67 {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1956.33px;
    height: 100%;
    background: url("../images/wizard-dark-dungeon-illustration.jpg") no-repeat center center / cover;
    background-attachment: fixed;
    border-radius: 0px;
  }
}
