@font-face {
    font-family: 'Goudy Mediaeval';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/Goudy Mediaeval Regular.ttf") format('woff');
  }
@font-face {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/verdana.ttf");
  }
html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Timeline */
.timeline-d2292d4df0f9 {
  position: relative;
  width: 1920px;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

/* Timeline */
.timeline-d2298487b851 {
  position: absolute;
  left: 848px;
  top: 162px;
  width: 224px;
  height: 108px;
}
.timeline-d2298487b851 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.timeline-d2298487b851 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.timeline-d2298487b851 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.timeline-d2298487b851 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 72px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Rectangle */
.rectangle-d2296319cfda {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0px;
}

/* magician-walks-magical-tree-houses-illustration */
.magicianw-d2292d4e16c3 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 907.2px;
  /* background: #FFFFFF; */
  overflow: hidden;
}

/* magician-walks-magical-tree-houses-illustration */
.magicianw-d2292d4e16c4 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 907.2px;
  background: url("../images/magician-walks-magical-tree-houses-illustration.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  border-radius: 0px;
}


/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

/* Adding in this section for responsive design */
.desktop_container {
  display: block;
}

.mobile_container {
  display: none;
}

@media only screen and (max-width: 667px) {
  .desktop_container {
    display: none;
  }
  .mobile_container {
    display: block;
  }
@font-face {
    font-family: 'Goudy Mediaeval';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/Goudy Mediaeval Regular.ttf") format('woff');
  }
@font-face {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/verdana.ttf");
  }
html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Timeline */
.timeline-0bfedd667a6b {
  position: relative;
  width: 414px;
  height: 1371px;
  overflow: auto;
  z-index: 0;
}

/* Timeline */
.timeline-0bff9ceb455d {
  position: absolute;
  left: 167.5px;
  top: 64px;
  width: 79px;
  height: 36px;
}
.timeline-0bff9ceb455d .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.timeline-0bff9ceb455d .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  
  margin-right: 1px;
  vertical-align: top;
}
.timeline-0bff9ceb455d .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
.timeline-0bff9ceb455d .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: pre;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0.7px;
  font-size: 24px;
  font-family: "Goudy Mediaeval";
  font-style: normal;
  font-weight: 400;
}

/* Rectangle */
.rectangle-0bff9ceb455c {
  position: fixed;
  left: -52px;
  top: 0px;
  width: 549px;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}

/* magician-walks-magical-tree-houses-illustration */
.magicianw-0bff9ceb455a {
  position: absolute;
  left: -527px;
  top: 0px;
  width: 1896.3px;
  height: 896px;
  background: #FFFFFF;
  overflow: hidden;
}

/* magician-walks-magical-tree-houses-illustration */
.magicianw-0bff9ceb455b {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 1896.3px;
  height: 100%;
  background: url("../images/magician-walks-magical-tree-houses-illustration.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  border-radius: 0px;
  }
  }
