.to-top{
  position:fixed;
  /* display: none; */
  right:50px;
  bottom:40px;
  pointer-events:none;
  /* border: none; */
  /* border-radius: 175px; */
  /* color:#0f151a;  */
  /* background-color: white; */
  /* This determines how fast animation takes place, you can change it as per your choice. */
  transition:all 0.6s;
  transition-timing-function: ease-in-out;
  z-index:99;
}

.to-top:hover{
  cursor: pointer;
}

.fa-circle-chevron-up{
  color: white;
  opacity:0.8;
}
